__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store/

scripts/slurm_out/
scripts/.ipynb_checkpoints/

figure/
archived_code/
debug/
first_10_NSD_images/

*.log
slurm-*.out

tmp/
temp/
